stages:
  - dependencies
  - gegl

variables:
  BABL_DIR: "_babl_install"
  BABL_PREFIX: "$CI_PROJECT_DIR/$BABL_DIR"

cache:
  paths:
  - _pacman_cache

image: archlinux/base:latest

.babl-base:
  stage: dependencies
  artifacts:
    paths:
    - $BABL_DIR
  variables:
    GIT_DEPTH: "5"
  before_script:
    - pacman -Syu --noconfirm --needed --cachedir `pwd`/_pacman_cache git base-devel meson lcms2 gobject-introspection
    - git clone --depth=$GIT_DEPTH https://gitlab.gnome.org/GNOME/babl.git _babl
    - cd _babl
    - mkdir _build

babl-git-meson:
  extends: .babl-base
  variables:
    GIT_STRATEGY: none
  script:
    - meson -Dprefix="$BABL_PREFIX" _build
    - ninja -C _build
    - ninja -C _build install

babl-min-meson:
  extends: .babl-base
  script:
    - grep babl_required_version ../configure.ac | grep -o '[0-9]*\.[0-9]*\.[0-9]*' | sed 's/\./_/g' > .babl_min_version
    - if [ x$(( $(cut .babl_min_version -f 3 -d _) % 2)) = x1 ] ; then touch .use_master ; fi
    - test -e .use_master && git fetch
    - test -e .use_master && git checkout master
    - test -e .use_master || git fetch --no-tags origin "refs/tags/BABL_`cat .babl_min_version`:refs/tags/MIN_VERSION"
    - test -e .use_master || git checkout MIN_VERSION
    - meson -Dprefix="$BABL_PREFIX" _build
    - ninja -C _build
    - ninja -C _build install

.build-gegl:
  stage: gegl
  variables:
    GIT_DEPTH: "15"
  before_script:
    - pacman -Syu --noconfirm --needed --cachedir `pwd`/_pacman_cache
        base-devel
        ffmpeg
        gobject-introspection
        graphviz
        jasper
        json-glib
        lcms2
        libgexiv2
        libraw
        librsvg
        libspiro
        libtiff
        luajit
        openexr
        python
        sdl2
        suitesparse
  script:
   - mkdir _build
   - cd _build
   - XDG_DATA_DIRS="$XDG_DATA_DIRS:$BABL_PREFIX/share" PKG_CONFIG_PATH=$BABL_PREFIX/lib/pkgconfig ../autogen.sh $CONFIG_OPTIONS
   - XDG_DATA_DIRS="$XDG_DATA_DIRS:$BABL_PREFIX/share" LD_LIBRARY_PATH="$BABL_PREFIX/lib:$LD_LIBRARY_PATH" make
   - XDG_DATA_DIRS="$XDG_DATA_DIRS:$BABL_PREFIX/share" LD_LIBRARY_PATH="$BABL_PREFIX/lib:$LD_LIBRARY_PATH" make check

.build-default:
  extends: .build-gegl
  variables:
    CONFIG_OPTIONS: ""

.build-all:
  extends: .build-gegl
  variables:
    CONFIG_OPTIONS: "--enable-debug --enable-mmx --enable-sse --enable-profile --enable-docs"

build-default-git-meson:
  extends: .build-default
  dependencies:
    - babl-git-meson

build-default-min-meson:
  extends: .build-default
  dependencies:
    - babl-min-meson

build-all-git-meson:
  extends: .build-all
  dependencies:
    - babl-git-meson

build-all-min-meson:
  extends: .build-all
  dependencies:
    - babl-min-meson
